body {
    font-family: "Roboto", sans-serif;
    margin: 0
}

/* header stuff */
header {
    background-color: #F6D8D6;
    padding: 1rem 10px;
}

header span {
    color: black;
    font-size: 1.6rem;
    font-weight: 900;
}

/* navigation stuff */
nav {
    background-color: #3c2f2f;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #F6D8D6;
    font-weight: 700;
}

nav li.active a {
    background-color: #F6D8D6;
    color: #3c2f2f;
}

nav li a:hover {
    color: #fff;
}

/* main stuff */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #3c2f2f;
}

main h2 {
    color: #D8A7A7;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #3c2f2f;
}

main ol {
    padding: .5rem 30px;
    background-color: #D6C2A9;
    color: #3c2f2f;
}

main ul {
    list-style-type: circle;
    margin: 0;
}

main dl dt {
    color: #3c2f2f;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #000;
    font-size: .9rem;
    margin-left: 20px;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: #000;
}

main em {
    font-weight: 200;
    color: #3c2f2f;
}

main address {
    font-style: normal;
    color: #3c2f2f;
    background-color: #fff;
    padding: .3rem;
    border-radius: 10px;
    border: 2px solid #D8A7A7;
    width: 200px;
    margin-top: 1rem;
}

main a {
    color: #3c2f2f;
}

main a:hover {
    color: #D8A7A7;
}

/* main image stuff */
figure.wrapped {
    margin: 30px 0 0 10px;
    width: 30%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

/* gallery stuff */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .9rem;
    color: #D8A7A7;
}

/* footer stuff */
footer {
    background-color: #D6C2A9;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #3c2f2f;
    letter-spacing: 2px;
}